/* Global styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

/* Main content styles */
#main-content {
  background: url("/img/bg-curvy-desktop.svg") no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: #1b2330;
}

#main-content .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding-top: 4.5rem;
}

#main-content .header-container ul {
  list-style: none;
}

#main-content .header-container li {
  display: inline-block;
  margin-right: 45px;
}

#main-content .header-container li a {
  color: #ccc;
  font-size: 1rem;
  transition: color 300ms ease;
}

#main-content .header-container li a:hover {
  color: #fff;
}

/* Main container styles */
#main-content .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 5rem 0 8rem;
}

#main-content .main-container .main-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-content .main-container .main-content-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  padding-top: 25px;
}

#main-content .main-container .main-content-text p {
  font-size: 1.25rem;
  line-height: 1.9rem;
  padding: 2rem 5rem 0rem;
  text-align: center;
}

#main-content .main-container .main-content-text a {
  margin-top: 2rem;
  padding: 1rem 6rem;
  border: 1px solid hsl(176, 68%, 64%);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
}

#main-content .main-container .main-content-text a:hover {
  background: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-color: hsl(198, 60%, 50%);
}

/* Features styles */
#features {
  background: hsl(218, 28%, 13%);
  margin-top: -1rem;
  padding: 0 0 6rem;
}

#features .features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

#features .features-container .features-row {
  padding: 0rem 3rem;
  width: 90%;
}

#features .features-container .features-box {
  text-align: center;
  padding-bottom: 5rem;
}

#features .features-container .features-box img {
  padding-bottom: 1rem;
}

#features .features-container .features-box h2 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 1rem;
}

/* Productive styles */
#stay-productive {
  background: hsl(218, 28%, 13%);
  padding-bottom: 8rem;
  margin-top: -3rem;
}

#stay-productive .stay-productive-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1100px;
  margin: auto;
}

#stay-productive .stay-productive-container .productive-image {
  flex: 1;
  padding-right: 3.5rem;
}

#stay-productive .stay-productive-container .productive-text {
  flex: 1;
}

#stay-productive .stay-productive-container .productive-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

#stay-productive .stay-productive-container .productive-text p {
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

#stay-productive .stay-productive-container .productive-text a {
  color: hsl(176, 68%, 64%);
  transition: border 200ms ease;
}

#stay-productive .stay-productive-container .productive-text a:hover {
  border-bottom: 1.5px solid hsl(176, 68%, 64%);
  padding-bottom: 3px;
}

/* Testimonials styles */
#testimonials {
  background: hsl(218, 28%, 13%);
  padding-bottom: 15rem;
}

#testimonials .double-quotes-container {
  width: 1100px;
  margin: auto;
}

#testimonials .testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1100px;
  margin: auto;
}

#testimonials .testimonials-container .testimonial-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: hsl(219, 30%, 18%);
  margin: 0rem 2rem;
  padding: 1rem 1.5rem;
  box-shadow: 5px 8px rgba(32, 42, 60, 0.3);
}

#testimonials .testimonials-container .testimonial-box .testimonial-text {
  padding-bottom: 1rem;
}

#testimonials .testimonials-container .testimonial-box .testimonial-profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#testimonials
  .testimonials-container
  .testimonial-box
  .testimonial-profile
  img {
  border: 1px solid hsl(219, 30%, 18%);
  border-radius: 25px;
  height: 40px;
  margin-right: 1rem;
}

/* Sign up styles */
#sign-up {
  display: flex;
  justify-content: center;
  position: relative;
  background: hsl(218, 28%, 13%);
}

#sign-up .sign-up-wrapper {
  position: absolute;
  top: -8rem;
  width: 780px;
  background: hsl(218, 28%, 13%);
  border: 1px solid hsl(219, 30%, 18%);
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.5), -1px -1px 3px rgba(0, 0, 0, 0.5);
}

#sign-up .sign-up-wrapper .sign-up-container {
  max-width: 90%;
  margin: auto;
  padding: 2.5rem 2rem 2rem 2rem;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-text {
  font-size: 16px;
  text-align: center;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-text h2 {
  padding-bottom: 1rem;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-text p {
  padding-bottom: 1rem;
  font-size: 14px;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-form .sign-up-txt {
  width: 70%;
  padding-right: 1rem;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-form .sign-up-txt input {
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  width: 100%;
  outline: none;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-form .sign-up-btn {
  width: 32%;
}

#sign-up .sign-up-wrapper .sign-up-container .sign-up-form .sign-up-btn .btn {
  border: none;
  padding: 0.75rem 1.5rem;
  border: 1px solid hsl(176, 68%, 64%);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-radius: 20px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

#sign-up
  .sign-up-wrapper
  .sign-up-container
  .sign-up-form
  .sign-up-btn
  .btn:hover {
  background: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-color: hsl(198, 60%, 50%);
}

/* Footer styles */
#footer {
  background: hsl(216, 53%, 9%);
  padding-top: 10rem;
  padding-bottom: 5rem;
}

#footer .footer-container {
  max-width: 1200px;
  margin: auto;
}

#footer .footer-container .footer-logo {
  padding-bottom: 2rem;
}

#footer .footer-container .footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer-contents .footer-location {
  display: flex;
  flex-direction: row;
  flex: 0;
}

.footer-contents .footer-location .footer-location-icon {
  padding-right: 1rem;
}

.footer-contents .footer-location .footer-location-text {
  width: 20vw;
}

.footer-contents .footer-contacts .footer-phone,
.footer-contents .footer-contacts .footer-email {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 1rem;
}

.footer-contents .footer-contacts .footer-phone .footer-phone-icon,
.footer-contents .footer-contacts .footer-email .footer-email-icon {
  padding-right: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  padding-bottom: 1rem;
}

.footer-links li a {
  color: #ccc;
  transition: color 300ms ease;
}

.footer-links li a:hover {
  color: #fff;
}

.footer-links .footer-links-left {
  padding-right: 6rem;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.footer-social i {
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: color 300ms ease;
}

.footer-social i:hover {
  color: hsl(176, 68%, 64%);
}

.footer-social .footer-social-facebook i {
  padding: 0.5rem 0.65rem;
}

.footer-social .footer-social-twitter i {
  padding: 0.5rem 0.55rem;
}

.footer-social .footer-social-instagram i {
  padding: 0.5rem 0.55rem;
}

.footer-social div {
  padding-right: 1rem;
}
